body {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 16px;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 16px;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

hr {
  width: 100%;
}

@media (max-width: 1024px) {
  .tablet-none {
    display: none;
  }
}

@media (max-width: 480px) {
  .mobile-none {
    display: none;
  }
}

.header {
  background-color: #222222;
  min-height: 75px;
}

.header__wrp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 17px 30px 17px;
}

.header__logo-search-wrp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__search {
  margin: 0 0 0 41px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.header__link {
  margin: 0 0 0 33px;
  text-decoration: none;
}

.header__logopic {
  fill: #FFFFFF;
  cursor: pointer;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

.header__logopic:hover,
.header__logopic:focus {
  fill: #F09BA7;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.header__logopic:active {
  fill: #F16D7F;
}

.header__menu-btn {
  border: none;
  background-color: transparent;
}

.header__nav {
  position: absolute;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 200px;
  height: 100%;
  background-color: #FFFFFF;
  padding: 37px 0 0 34px;
  z-index: 1;
}

.header__nav-btn {
  border: none;
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 17px 9px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  cursor: pointer;
}

.header__nav-title {
  font-weight: 700;
  line-height: 17px;
  text-transform: uppercase;
  margin-bottom: 24px;
}

@media (max-width: 1024px) {
  .header__nav {
    display: none;
  }
}

.nav-sub-item__link-title {
  display: block;
  font-weight: 400;
  line-height: 17px;
  color: #F16D7F;
  text-transform: uppercase;
  margin-bottom: 12px;
  text-decoration: none;
}

.nav-sub-item__link {
  display: block;
  font-weight: 400;
  color: #6F6E6E;
  margin: 0 0 11px 20px;
  text-decoration: none;
}

.nav-sub-item__link-title:hover,
.nav-sub-item__link:hover,
.nav-sub-item__link-title:focus,
.nav-sub-item__link:focus {
  text-decoration: underline;
}

.nav-sub-item__link-title:active,
.nav-sub-item__link:active {
  color: #222222;
}

.brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 63px;
  background-color: #F1E4E6;
}

.brand__img {
  background-color: transparent;
  width: calc(48%);
  height: auto;
}

.brand__title-wrp {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 0 0 5%;
}

.brand__title {
  font-size: 40px;
  font-weight: 900;
  line-height: 50px;
  text-transform: uppercase;
  border-left: 12px solid #F16D7F;
  padding: 0 20px;
}

.brand__subtitle {
  font-size: 32px;
  font-weight: 700;
  line-height: 38px;
  display: block;
}

.brand__subtitle-pink {
  color: #F09BA7;
}

@media (max-width: 768px) {
  .brand {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 148px 0;
  }
  .brand__img {
    display: none;
  }
  .brand__title-wrp {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.sales__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sales__item {
  width: calc(33% - 15px);
}

.sales__item-link {
  position: relative;
  display: block;
}

.sales__item-img {
  width: 100%;
  -webkit-filter: brightness(50%);
          filter: brightness(50%);
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  background: rgba(33, 22, 22, 0.7);
}

.sales__item:hover .sales__item-img,
.sales__item:focus .sales__item-img {
  -webkit-filter: none;
          filter: none;
}

.sales__item-long {
  width: 100%;
  margin-top: 30px;
}

.sales__item-desc {
  position: absolute;
  text-align: center;
  top: 40%;
  width: 100%;
}

.sales__item-offer {
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  color: #FFFFFF;
  text-transform: uppercase;
}

.sales__item-category {
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  color: #F16D7F;
  text-transform: uppercase;
}

@media (max-width: 1024px) {
  .sales__item-long .sales__item-desc {
    top: 30%;
  }
}

@media (max-width: 768px) {
  .sales__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .sales__item {
    margin-bottom: 32px;
    width: 100%;
  }
  .sales__item-long {
    min-height: 111px;
    margin: 0;
  }
  .sales__item-long .sales__item-img {
    min-height: 111px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

.products {
  margin-top: 96px;
  margin-bottom: 96px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.products__title {
  font-size: 30px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: center;
}

.products__text {
  font-weight: 400;
  text-align: center;
  color: #9F9F9F;
  padding: 6px 0 48px;
}

.products__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.products__item {
  background: #F8F8F8;
  max-width: calc(33% - 14px);
  margin: 7px;
}

.products__item-wrp {
  position: relative;
}

.products__item-img {
  width: 100%;
}

.products__item-overlay {
  width: 100%;
  height: 100%;
  background: #3A3838;
  opacity: 86%;
  position: absolute;
  top: 0;
  display: none;
}

.products__item-btn {
  background: transparent;
  border: 1px solid #FFFFFF;
  color: #FFFFFF;
  position: absolute;
  width: 138px;
  height: 43px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: none;
}

.products__item-icon {
  fill: #FFFFFF;
  margin: 0 11px 0 0;
}

.products__item:hover .products__item-overlay,
.products__item:hover .products__item-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.products__item-name {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 12px;
  padding: 24px 18px 0;
}

.products__item-description {
  font-weight: 300;
  color: #5D5D5D;
  margin-bottom: 18px;
  padding: 0 16px;
}

.products__item-price {
  font-weight: 400;
  color: #F16D7F;
  padding: 0 16px 20px;
}

.products__btn {
  border: 1px solid #F26376;
  font-size: 16px;
  line-height: 19px;
  color: #F26376;
  padding: 14px 38px;
  text-decoration: none;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-top: 18px;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.products__btn:hover,
.products__btn:focus {
  color: #FFFFFF;
  background: #F26376;
}

@media (max-width: 1024px) {
  .products {
    margin-top: 64px;
  }
  .products__item {
    max-width: calc(50% - 14px);
    margin: 7px;
  }
}

@media (max-width: 480px) {
  .products__item {
    max-width: 100%;
    margin: 0 0 16px;
  }
}

.advantages {
  background-color: #222222;
}

.advantages__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  padding: 104px 0;
}

.advantages__item {
  max-width: 30%;
  text-align: center;
}

.advantages__img {
  margin-bottom: 20px;
}

.advantages__title {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  color: #FBFBFB;
  margin-bottom: 16px;
}

.advantages__text {
  font-weight: 300;
  color: #FBFBFB;
}

@media (max-width: 1024px) {
  .advantages__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 40px 0 12px;
  }
  .advantages__item {
    margin-bottom: 48px;
    max-width: 360px;
  }
}

.info {
  background-color: #F8F3F4;
  padding: 60px 0;
}

.info-wrp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.info__title {
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
  color: #F16D7F;
  text-transform: uppercase;
}

.info__breadcrumb-link {
  display: inline;
}

.info__breadcrumb-active {
  font-weight: 700;
  color: #F16D7F;
  text-transform: uppercase;
}

.info__breadcrumb-link + .info__breadcrumb-link::before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}

.info__breadcrumb-link a {
  text-transform: uppercase;
  color: #6F6E6E;
  text-decoration: none;
}

.info__breadcrumb-link a:hover,
a:focus {
  color: #F16D7F;
  text-decoration: underline;
}

@media (max-width: 480px) {
  .info {
    padding: 40px 0;
  }
  .info-wrp {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .info__title {
    text-align: center;
  }
  .info__breadcrumb {
    margin: 32px 0 0;
  }
}

.registration {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 64px 0 96px;
}

.registration__form {
  max-width: 360px;
  width: 50%;
}

.registration__form-title {
  font-size: 16px;
  font-weight: 300;
  line-height: 19px;
  margin-bottom: 20px;
}

.registration__form-input {
  width: 100%;
  height: 45px;
  margin-bottom: 20px;
  border: 1px solid #E1E1E1;
  padding: 0 0 0 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.registration__form-input:hover,
.registration__form-input:focus {
  -webkit-box-shadow: 5px 5px #E1E1E1;
          box-shadow: 5px 5px #E1E1E1;
}

.registration__form-sex {
  margin-bottom: 33px;
}

.registration__form-label {
  padding-right: 20px;
}

.registration__text {
  color: #9F9F9F;
  margin-bottom: 40px;
}

.registration__btn {
  color: #F16D7F;
  border: 1px solid #F16D7F;
  background-color: transparent;
  text-transform: uppercase;
  padding: 16px 29px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.registration__btn-icon {
  fill: #F16D7F;
  margin: 0 0 0 20px;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.registration__btn:hover,
.registration__btn:focus {
  background-color: #F16D7F;
  color: #FFFFFF;
}

.registration__btn:hover .registration__btn-icon,
.registration__btn:focus .registration__btn-icon {
  fill: #FFFFFF;
}

@media (max-width: 1024px) {
  .registration {
    padding: 64px 16px 96px;
  }
}

@media (max-width: 480px) {
  .registration {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .registration__form {
    max-width: 100%;
    width: 100%;
  }
}

.loyalty {
  font-size: 24px;
  font-weight: 300;
  line-height: 29px;
  width: calc(50% - 40px);
  margin: 0 0 0 20px;
}

.loyalty__title {
  text-transform: uppercase;
  margin-bottom: 22px;
}

.loyalty__text {
  margin-bottom: 22px;
}

.loyalty__list {
  list-style-image: url(../img/checkmark.svg);
  margin-left: 30px;
}

.loyalty__item {
  margin-bottom: 16px;
  padding-left: 23px;
}

@media (max-width: 768px) {
  .loyalty {
    font-size: 16px;
    font-weight: 19px;
  }
}

@media (max-width: 480px) {
  .loyalty {
    width: 95%;
    margin-top: 40px;
  }
}

.footer__subscription {
  background-image: url(../img/footer_bg.jpg);
  background-size: cover;
  padding: 85px 0 120px;
}

.footer__subscription-wrp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.footer__subscription-qoute {
  width: 360px;
  height: 225px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.footer__subscription-text {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  margin-top: 30px;
}

.footer__subscription-form {
  padding: 30px 0 0;
}

.footer__ref {
  background-color: #222222;
  padding: 24px;
}

.footer__ref-wrp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__ref-copyright {
  font-weight: 400;
  color: #FBFBFB;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.footer__ref-list {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__ref-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 7px;
  width: 32px;
  height: 32px;
  background-color: #FFFFFF;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.footer__ref-link:hover,
.footer__ref-link:focus {
  background-color: #F09BA7;
  fill: #FFFFFF;
}

@media (max-width: 1024px) {
  .footer__subscription {
    padding: 50px 0 140px;
  }
  .footer__subscription-wrp {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 480px) {
  .footer__subscription {
    padding: 50px 0 100px;
  }
  .footer__subscription-qoute,
  .footer__subscription-form {
    width: 100%;
  }
  .footer__ref {
    padding: 0 0 10px;
  }
  .footer__ref-wrp {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__ref-list {
    margin: 40px 0;
  }
}

.sub-form__title {
  font-size: 24px;
  font-weight: 700;
  line-height: 38px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 32px;
}

.sub-form__subtitle {
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
  display: block;
}

.sub-form__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sub-form__email {
  color: #5D5D5D;
  background-color: #E1E1E1;
  border: none;
  width: 200px;
  height: 50px;
  padding: 0 22px;
  border-radius: 40px 0 0 40px;
}

.sub-form__btn {
  color: #FFFFFF;
  background-color: #F16D7F;
  border: none;
  width: 100px;
  height: 50px;
  cursor: pointer;
  border-radius: 0 40px 40px 0;
}

@media (max-width: 350px) {
  .sub-form__email {
    width: 70%;
  }
}

.cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 96px 0 114px;
}

@media (max-width: 1140px) {
  .cart {
    padding: 60px 16px 114px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 768px) {
  .cart {
    padding: 40px 16px 100px;
  }
}

.shopping {
  margin: 0 30px 0 0;
  width: 60%;
}

.shopping__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 300px;
  width: 100%;
  -webkit-box-shadow: 17px 19px 24px rgba(0, 0, 0, 0.13);
          box-shadow: 17px 19px 24px rgba(0, 0, 0, 0.13);
  margin-bottom: 40px;
  position: relative;
}

.shopping__item-descr {
  width: 260px;
  margin: 22px 30px;
}

.shopping__item-btn {
  border: none;
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  position: absolute;
  top: 20px;
  right: 20px;
}

.shopping__btn-wrp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.shopping__btn {
  padding: 16px 40px;
  border: 1px solid #E1E1E1;
  background: #FFFFFF;
  text-transform: uppercase;
  margin-top: 32px;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.shopping__btn:hover,
.shopping__btn:focus {
  border: 1px solid #F16D7F;
  color: #FFFFFF;
  background: #F16D7F;
  cursor: pointer;
}

@media (max-width: 1140px) {
  .shopping {
    margin: 0;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    width: 80%;
  }
}

@media (max-width: 768px) {
  .shopping {
    width: 90%;
  }
  .shopping__item {
    height: 188px;
  }
  .shopping__item-descr {
    margin: 13px 0 0 17px;
  }
  .shopping__btn {
    padding: 8px 20px;
    margin-top: 0;
    font-size: 12px;
    text-transform: initial;
  }
  .shopping__item-btn {
    top: 10px;
    right: 10px;
  }
}

@media (max-width: 480px) {
  .shopping {
    width: 100%;
  }
}

@media (max-width: 350px) {
  .shopping__item-img {
    display: none;
  }
}

.purchase {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 30%;
}

.purchase__form-title {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 300;
  line-height: 19px;
  margin-top: 20px;
}

.purchase__form-input {
  width: 100%;
  height: 45px;
  margin-top: 20px;
  padding: 12px 16px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.purchase__form-btn {
  text-transform: uppercase;
  margin-top: 24px;
  padding: 10px 14px;
  border: 1px solid #E1E1E1;
  background: #FFFFFF;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.purchase__form-btn:hover,
.purchase__form-btn:focus {
  border: 1px solid #F26376;
  color: #FFFFFF;
  background: #F26376;
  cursor: pointer;
}

.purchase__total {
  background-color: #F5F3F3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 60px;
  padding: 40px 44px;
}

.purchase__total-subtitle {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 400;
  line-height: 13px;
  margin-bottom: 12px;
  text-align: end;
}

.purchase__total-subsum {
  margin-left: 10px;
}

.purchase__total-title {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 300;
  line-height: 19px;
  margin-bottom: 20px;
  text-align: end;
}

.purchase__total-sum {
  margin-left: 10px;
  font-weight: 700;
  color: #F16D7F;
}

.purchase__total-btn {
  text-transform: uppercase;
  margin-top: 17px;
  border: 1px solid #E1E1E1;
  background: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.purchase__total-btn:hover,
.purchase__total-btn:focus {
  border: 1px solid #F26376;
  color: #FFFFFF;
  background: #F26376;
  cursor: pointer;
}

@media (max-width: 1140px) {
  .purchase {
    margin: 64px 0 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
  }
  .purchase__form {
    width: 50%;
  }
  .purchase__total {
    width: 50%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0 0 0 20px;
  }
}

@media (max-width: 480px) {
  .purchase {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .purchase__form {
    width: 100%;
  }
  .purchase__total {
    width: 100%;
    margin: inherit;
  }
}

.item-descr__title {
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  text-transform: uppercase;
  margin-bottom: 42px;
}

.item-descr__point {
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 6px;
}

.item-descr__point-value {
  color: #F16D7F;
}

.item-descr__point-quantity {
  margin-left: 24px;
  width: 45px;
  text-align: center;
}

@media (max-width: 768px) {
  .item-descr__title {
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 26px;
    width: 80%;
  }
  .item-descr__point {
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 4px;
  }
}

.article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.article__carousel {
  background-color: #F8F8F8;
}

.article__carousel-img {
  margin: 0 auto 42px;
  max-width: 100%;
}

.article__desc {
  border: 1px solid #9F9F9F;
  padding: 64px 250px;
  margin: -60px auto 0;
  background-color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1140px;
  z-index: 1;
}

.article__desc-subtitle {
  color: #F16D7F;
  text-transform: uppercase;
  padding: 0 0 12px;
}

.article__desc-title {
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  color: #5D5D5D;
  margin: 12px 0;
  text-align: center;
}

.article__desc-block {
  display: block;
  background-color: #F16D7F;
  width: 63px;
  height: 3px;
  margin: 12px 0 0;
  border: none;
}

.article__desc-text {
  color: #5D5D5D;
  margin: 32px;
  text-align: center;
}

.article__desc-price {
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
  margin: 0 0 65px;
}

.article__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.article__select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 400px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 65px 0 0;
}

.article__select-var {
  text-transform: uppercase;
  border: none;
  color: #5D5D5D;
  font-weight: 400;
  text-align: center;
}

.article__desc-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #F26376;
  padding: 10px 30px;
  color: #F26376;
  font-size: 16px;
  background-color: transparent;
  margin: 50px 0 0;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.article__desc-icon {
  fill: #F26376;
  margin: 0 20px 0 0;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.article__desc-btn:hover {
  color: #FFFFFF;
  background-color: #F26376;
  cursor: pointer;
}

.article__desc-btn:hover .article__desc-icon {
  fill: #FFFFFF;
}

@media (max-width: 1024px) {
  .article__desc {
    margin: 0 auto;
    padding: 64px 100px;
  }
}

@media (max-width: 768px) {
  .article__desc {
    padding: 64px 24px;
  }
  .article__desc-price {
    margin: 0 0 32px;
  }
  .article__select {
    margin: 50px 0 0;
    width: 250px;
  }
  .article__select-var {
    font-size: 10px;
    line-height: 12px;
  }
}

.catalog {
  padding: 50px 0 65px;
}

.catalog__choice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.catalog__filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: calc(33% - 14px);
  margin: 0 7px 0;
  -webkit-box-shadow: 0px 0px 10px 10px rgba(34, 60, 80, 0.2);
          box-shadow: 0px 0px 10px 10px rgba(34, 60, 80, 0.2);
  padding: 13px 16px;
}

.catalog__filter-title {
  text-transform: uppercase;
  color: #F16D7F;
  font-weight: 600;
  margin: 0 0 16px;
}

.catalog__filter-img {
  fill: #F16D7F;
  vertical-align: baseline;
  margin: 0 11px;
}

.catalog__filter-subtitle {
  text-transform: uppercase;
  color: #F16D7F;
  font-weight: 600;
  border-left: 5px solid #F16D7F;
  border-bottom: 1px solid #6F6E6E;
  padding: 11px;
  margin: 0 0 18px;
}

.catalog__filter-item {
  margin: 0 18px 11px;
}

.catalog__filter-link {
  color: #6F6E6E;
  text-decoration: none;
}

.catalog__filter-link:hover,
.catalog__filter-link:focus {
  color: #F16D7F;
  text-decoration: underline;
}

.catalog__select {
  width: calc(33% - 14px);
  margin: 0 7px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media (max-width: 1024px) {
  .catalog__filter {
    width: calc(50% - 14px);
  }
  .catalog__select {
    width: calc(50% - 14px);
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
  }
}

@media (max-width: 768px) {
  .catalog__select {
    width: calc(50% - 14px);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
}

@media (max-width: 480px) {
  .catalog__filter {
    width: 100%;
  }
  .catalog__select {
    width: 100%;
    margin: 20px 0;
  }
}
/*# sourceMappingURL=style.css.map */