:root {
    --black: #222222;
    --pink-bgc: #F1E4E6;
    --pink-color: #F09BA7;
    --dark-pink: #F16D7F;
    --pink-btn: #F26376;
    --white: #FFFFFF;
    --grey-text: #9F9F9F;
    --grey-bg: #F8F8F8;
    --grey-desc: #5D5D5D;
    --grey-adv: #FBFBFB;
    --grey-form: #E1E1E1;
    --grey-nav: #6F6E6E;
    --pink--pale: #F8F3F4;
}

body {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-size: 14px;
    line-height: 16px;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
  }

.header {
    background-color: var(--black);
    min-height: 75px;
}
.header__wrp {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 17px 0;
}

.header__logo-search-wrp {
    display: flex;
}

.header__search {
    margin: 0 0 0 41px;
    align-self: center;
}

.header__link {
    margin: 0 0 0 33px;
    text-decoration: none;
}

.header__logopic {
    fill: var(--white);
    cursor: pointer;
}

.header__logopic:hover,
.header__logopic:focus {
    fill: var(--pink-color);
}

.header__menu-btn {
    border: none;
    background-color: transparent;
}

.header__nav {
    position: absolute;
    right: 0;
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 100%;
    background-color: var(--white);
    padding: 37px 0 0 34px;
}

.header__nav-btn {
    border: none;
    background-color: transparent;
    display: flex;
    margin: 0 17px 9px;
    justify-content: end;
    cursor: pointer;
}

.header__nav-title {
    font-weight: 700;
    line-height: 17px;
    text-transform: uppercase;
    margin-bottom: 24px;
}

.nav-sub-item__link-title {
    display: block;
    font-weight: 400;
    line-height: 17px;
    color: var(--dark-pink);
    text-transform: uppercase;
    margin-bottom: 12px;
    text-decoration: none;
}

.nav-sub-item__link {
    display: block;
    font-weight: 400;
    color: var(--grey-nav);
    margin: 0 0 11px 20px;
    text-decoration: none;
}

.nav-sub-item__link-title:hover,
.nav-sub-item__link:hover {
    text-decoration: underline;
}

.brand {
    display: flex;
    margin: 0 0 63px;
}

.brand__title-wrp {
    flex-grow: 1;
    background-color: var(--pink-bgc) ;
    display: flex;
    align-items: center;
    padding: 0 0 0 92px;
}

.brand__title {
    font-size: 40px;
    font-weight: 900;
    line-height: 50px;
    text-transform: uppercase;
}

.brand__title::before {
    height: 92px;
    width: 12px;
    background: var(--dark-pink);
    content: '';
    position: absolute;
    margin-left: -26px;
}

.brand__subtitle {
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    display: block;
}

.brand__subtitle-pink {
    color: var(--pink-color);
}

.sales__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.sales__item {
    width: 360px;
    min-height: 260px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid;
}

.sales__item-offer {
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    color: var(--white);
    text-transform: uppercase;
}

.sales__item-category {
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    color: var(--dark-pink);
    text-transform: uppercase;
}

.sales__item-women {
    background-image: url(../img/for_women.jpg);
}

.sales__item-men {
    background-image: url(../img/for_men.jpg);
}

.sales__item-kids {
    background-image: url(../img/for_kids.jpg);
}

.sales__item-accessories {
    background-image: url(../img/accesories.jpg);
    background-repeat: no-repeat;
    width: 100%;
    min-height: 180px;
    margin: 30px 0 0;
}

.products {
    margin-top: 96px;
    margin-bottom: 96px;
    display: flex;
    flex-direction: column
}

.products__title { 
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: center;
}

.products__text {
    font-weight: 400;
    text-align: center;
    color: var(--grey-text);
    padding: 6px 0 48px;
}

.products__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.products__item {
    width: 360px;
    background: var(--grey-bg);
    margin-bottom: 30px;
}

.product__item-wrp {
    position: relative;
}

.product__item-overlay {
    width: 100%;
    height: 100%;
    background: #3A3838;
    opacity: 86%;
    position: absolute;
    top: 0;
    display: none;
}

.product__item-btn {
    background: transparent;
    border: 1px solid var(--white);
    color: var(--white);
    position: absolute;
    width: 138px;
    height: 43px;
    top: 50%;  
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    padding: 0 0 0 30px
  }

.product__item-btn::before {
    content: url(../img/basketmini.svg);
    position: absolute;
    left: 10px;
    bottom: 5px;
}

.products__item:hover .product__item-overlay,
.products__item:hover .product__item-btn {
    display: block;
    cursor: pointer;
 }

.products__item-name {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 12px;
    padding: 24px 18px 0;
}

.products__item-description {
    font-weight: 300;
    color: var(--grey-desc);
    margin-bottom: 18px;
    padding: 0 16px;
}

.products__item-price {
    font-weight: 400;
    color: var(--dark-pink);
    padding: 0 16px 20px;
}

.products__btn {
    border: 1px solid var(--pink-btn);
    font-size: 16px;
    line-height: 19px;
    color: var(--pink-btn);
    padding: 14px 38px;
    text-decoration: none;
    align-self: center;
    margin-top: 18px;
}

.products__btn:hover,
.products__btn:focus {
    color: var(--white);
    background: var(--pink-btn);
}

.advantages {
    background-color: var(--black);
}

.advantages__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
}

.advantages__item {
    width: 360px;
    text-align: center;
    padding: 104px 0;
}

.advantages__img {
    margin-bottom: 20px;
}

.advantages__title {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    color: var(--grey-adv);
    margin-bottom: 16px;
}

.advantages__text {
    font-weight: 300;
    color: var(--grey-adv);
}

.reginfo {
    background-color: var(--pink--pale);
    min-height: 148px;
}

.reginfo__title {
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
    color: var(--dark-pink);
    text-transform: uppercase;
    padding: 60px 0;
}

.registration {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 64px 0 96px;
}

.registration__form {
    max-width: 360px;
}

.registration__form-title {
    font-size: 16px;
    font-weight: 300;
    line-height: 19px;
    margin-bottom: 20px;
}

.registration__form-input {
    width: 100%;
    height: 45px;
    margin-bottom: 20px;
    border: 1px solid var(--grey-form);
    padding: 0 0 0 15px;
}

.registration__form-sex {
    margin-bottom: 33px;
}

.form-sex__label {
    padding-right: 20px;
}

.registration__text {
    color: var(--grey-text);
    margin-bottom: 40px;
}

.registration__btn {
    color: var(--white);
    background-color: var(--dark-pink);
    border: none;
    text-transform: uppercase;
    padding: 16px 29px;
    cursor: pointer;
}

.registration__btn::after {
    content: url(../img/arrow.svg);
    margin-left: 20px;
}

.loyalty {
    font-size: 24px;
    font-weight: 300;
    line-height: 29px;
    max-width: 650px;
}

.loyalty__title {
    text-transform: uppercase;
    margin-bottom: 22px;
}

.loyalty__text {
    margin-bottom: 22px;
}

.loyalty__list {
    list-style-image: url(../img/checkmark.svg);
    margin-left: 30px;
}

.loyalty__item {
    margin-bottom: 16px;
    padding-left: 23px;
}

.footer__subscription {
    background-image: url(../img/footer_bg.jpg);
    background-repeat: round;
}

.footer__subscription-wrp {
    display: flex;
    justify-content: space-between;
}

.footer__subscription-qoute {
    width: 360px;
    height: 225px;
    padding: 97px 0 126px;
    flex-direction: column;
    text-align: center;
}

.footer__subscription-text {    
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    margin-top: 30px;
}

.footer__subscription-form {
    margin-top: 150px;
}

.subscription-form__title {  
    font-size: 24px;
    font-weight: 700;
    line-height: 38px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 32px;
}

.subscription-form__subtitle {  
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    text-transform: uppercase;
    display: block;
}

.subscription-form__form {
    display: flex;
}

.subscription-form__email {
    color: var(--grey-desc);
    background-color: var(--grey-form);
    border: none;
    width: 200px;
    height: 50px;
    padding: 0 22px;
    border-radius: 40px 0 0 40px;
}

.subscription-form__btn {
    color: var(--white);
    background-color: var(--dark-pink);
    border: none;
    width: 100px;
    height: 50px;
    cursor: pointer;
    border-radius: 0 40px 40px 0;
}

.footer__ref {
    background-color: var(--black);
    padding: 24px;
}

.footer__ref-wrp {
    display: flex;
    justify-content: space-between;
}

.footer__ref-copyright {
    font-weight: 400;
    color: var(--grey-adv);
    align-self: center;
}

.footer__ref-list {
    list-style-type: none;
    display: flex;
}

.footer__ref-link {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 7px;
    width: 32px;
    height: 32px;
    background-color: var(--white);
}

.footer__ref-link:hover,
.footer__ref-link:focus {
    background-color: var(--pink-color);
    fill: var(--white);
}

.footer__ref-sm {
    fill: var(--black);
    height: 50%;
}

.footer__ref-sm:hover,
.footer__ref-sm:focus {
    fill: var(--white);
}