$black: #222222;
$pink-bgc: #F1E4E6;
$pink-color: #F09BA7;
$dark-pink: #F16D7F;
$pink-btn: #F26376;
$white: #FFFFFF;
$grey-text: #9F9F9F;
$grey-bg: #F8F8F8;
$grey-desc: #5D5D5D;
$grey-adv: #FBFBFB;
$grey-form: #E1E1E1;
$grey-nav: #6F6E6E;
$grey-overlay: #3A3838;
$pink--pale: #F8F3F4;
$purchase--bg: #F5F3F3;