.sales__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.sales__item {
    width: 32%;
    min-height: 260px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-position: center;
    background-repeat: no-repeat;
}

.sales__item-offer {
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    color: $white;
    text-transform: uppercase;
}

.sales__item-category {
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    color: $dark-pink;
    text-transform: uppercase;
}

.sales__item-women {
    background-image: url(../img/for_women.jpg);
}

.sales__item-men {
    background-image: url(../img/for_men.jpg);
}

.sales__item-kids {
    background-image: url(../img/for_kids.jpg);
}

.sales__item-accessories {
    background-image: url(../img/accesories.jpg);
    width: 100%;
    min-height: 180px;
    margin: 30px 0 0;
}

@media (max-width: 768px) {
    .sales__list {
        flex-direction: column;
    }

    .sales__item {
        margin-bottom: 32px;
        width: 100%;
    }

    .sales__item-accessories {
        margin: 0 0 20px;
        max-width: 360px;
        align-self: center;
    }
}