.sales__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.sales__item {
    width: calc(33% - 15px);
}

.sales__item-link {
    position: relative;
    display: block;
}

.sales__item-img {
    width: 100%;
    filter: brightness(50%);
    transition: all 0.3s linear;
    background: rgba(33, 22, 22, 0.7);
}

.sales__item:hover,
.sales__item:focus {
    .sales__item-img {
        filter: none;
    }
}

.sales__item-long {
    width: 100%;
    margin-top: 30px;
}

.sales__item-desc {
    position: absolute;
    text-align: center;
    top: 40%;
    width: 100%;
}

.sales__item-offer {
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    color: $white;
    text-transform: uppercase;
}

.sales__item-category {
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    color: $dark-pink;
    text-transform: uppercase;
}

@media (max-width: 1024px) {
    .sales__item-long {
        .sales__item-desc {
            top: 30%;
        }
    }
}

@media (max-width: 768px) {
    .sales__list {
        flex-direction: column;
    }

    .sales__item {
        margin-bottom: 32px;
        width: 100%;
    }

    .sales__item-long {
        min-height: 111px;
        margin: 0;

        .sales__item-img {
            min-height: 111px;
            object-fit: cover;
        }
    }

}